header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 133.3rem;
    height: 163px;
    left: 0px;
    top: -4px;
    background: #72DDFF;
    border: 5px solid #00074A
}
img{
    width: 170px;
    height: 170px;
}


#menu{
    box-sizing: border-box;
    position: absolute;
    width: 133.3rem;
    height: 77px;
    left: 0px;
    top: 159px;
    background: #6095BC;
    border: 5px solid #00074A;
    
}


#indices{
    color: #FFFFFF;
    width: 102px;
    height: 40px;
    left: 120px;
    top: 177px;

    font-family: 'Amaranth';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
}

#titulo{
    position: relative;
    top: 10px;
    font-family: Georgia, serif;
    font-style: normal;
    font-size: 55px;
    text-align: center;
    color: #C40000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#nombret{
    position: relative;
    top: -10px;
    font-family: Georgia, serif;
    font-style: normal;
    font-size: 55px;
    text-align: center;
    color: #00278C;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#lineas{
    position: absolute;
    width: 27.71px;
    height: 37.26px;
    left: 1305px;
    top: 87px;
}

#lineas1{
    position: absolute;
    width: 27.71px;
    height: 37.26px;
    left: 791.71px;
    top: 87.26px;
    
    transform: rotate(-180deg);
}

#ubi{
    position: absolute;
    width: 50px;
    height: 50px;
    right: 165px;
    top: 3px;
}
#ubi:hover{transform:scale(1.3);}
#pai{
    position: absolute;
    width: 50px;
    height: 50px;
    right: 95px;
    top: 3px;
}
#dpo{
    position: absolute;
    width: 50px;
    height: 50px;
    right: 5px;
    top: 48px;
}
#mun{
    position: absolute;
    width: 50px;
    height: 50px;
    right: 5px;
    top: 96px;
}

#sala{
    position: absolute;
    width: 50px;
    height: 50px;
    right: 55px;
    top: 46px;
}

#admin{
    position: absolute;
    width: 50px;
    height: 50px;
    right: 20px;
    top: 1px;
}

 #logo{
    width: 472px;
    height: 454px;
    filter: opacity(.5);
} 
#contenedor{
    display: flex;
    margin-top: 415px;
    justify-content: center;
}

#tare{
    position: absolute;
    width: 55px;
    height: 55px;
    left: 235px;
    top: 5px;
}

#emple{
    position: absolute;
    width: 60px;
    height: 60px;
    left: 35px;
    top: -3px;
}



